## Los Librarios

In [92]:
import pandas as pd
import numpy as np
from pydataset import data

### Q1:

Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows

- print the number of rows and columns (shape)

- print the column names

- print the data type of each column

- print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [19]:
# Printing out the first 3 rows

df_iris = data("iris")
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [20]:
# Print the number of rows and columns(shape)

df_iris.shape

(150, 5)

In [21]:
# print the name of each of the columns

list(df_iris.columns)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [22]:
# print the datatype of each column

df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [18]:
# print the summary statistics of each of the numeric variables

df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
# would you recommend rescaling the data based on these statistics?

#### No, I'd leave it the way it is becasue we're comparing iris to iris, not iris to elephant

### Q2:

Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

- assign the first 100 rows to a new dataframe, df_excel_sample

- print the number of rows of your original dataframe

- print the first 5 column names

- print the column names that have a data type of object

- compute the range for each of the numeric variables.

In [26]:
df_excel = pd.read_excel("Spreadsheets_Exercises_Solutions.xlsx")

In [27]:
df_excel.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Excel functions -> Exercise3,Excel functions -> Exercise4,Excel functions -> Exercise4.1,Excel functions -> Exercise5,Excel functions -> Exercise5.1,Excel functions -> Exercise5.2
0,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,NaN,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
1,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,False,True,3.0,2020-03-11 00:00:00,0,False,2 Year,No Phone Service,DSL
2,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,No Internet Service
3,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.9,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,DSL
4,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.7,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,1 Year,One Line,No Internet Service

In [33]:
df_excel.shape

(7044, 30)

In [51]:
# Create the df_excel_sample Dataframe from scratch.  It will be a blank df

df_excel_sample = pd.DataFrame()
df_excel_sample

Empty DataFrame
Columns: []
Index: []

In [58]:
# now append all the info from df_excel over to df_excel_sample
# just like we did in function writing, appending info to empty lists

df_excel_sample = df_excel_sample.append(df_excel)
df_excel_sample

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Excel functions -> Exercise3,Excel functions -> Exercise4,Excel functions -> Exercise4.1,Excel functions -> Exercise5,Excel functions -> Exercise5.1,Excel functions -> Exercise5.2
0,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,NaN,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
1,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,False,True,3.0,2020-03-11 00:00:00,0,False,2 Year,No Phone Service,DSL
2,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,No Internet Service
3,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.9,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,DSL
4,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.7,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,1 Year,One Line,No Internet Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,...,NaN,NaN,NaN,NaN,2019-01-26 06:30:34.272000,55.15,True,1 Year,One Line,DSL
7040,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.1,...,NaN,NaN,NaN,NaN,2018-05-11 07:07:58.080000,85.1,True,Month-to-Month,Two or More Lines,Fiber Optic
7041,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.3,...,NaN,NaN,NaN,NaN,2020-01-14 21:55:35.040000,50.3,True,Month-to-Month,One Line,DSL
7042,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,...,NaN,NaN,NaN,NaN,2014-07-06 10:59:14.784000,67.85,True,2 Year,One Line,DSL
7043,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59,...,NaN,NaN,NaN,NaN,2014-12-16 14:18:18.720000,59,True,2 Year,No Phone Service,DSL

In [59]:
# get the shape of df_excel_sample

df_excel_sample.shape

(7145, 30)

In [60]:
# Because we only want the first 100 rows to be in df_excel_sample,
# we change it from originally appending the entire df_excel dataframe to it,
# and now only append to it the truncated df_excel:

df_excel_sample = df_excel.truncate(before=0, after=100)
df_excel_sample

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Excel functions -> Exercise3,Excel functions -> Exercise4,Excel functions -> Exercise4.1,Excel functions -> Exercise5,Excel functions -> Exercise5.1,Excel functions -> Exercise5.2
0,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,NaN,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
1,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,False,True,3.0,2020-03-11 00:00:00,0,False,2 Year,No Phone Service,DSL
2,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,No Internet Service
3,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.9,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,DSL
4,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.7,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,1 Year,One Line,No Internet Service
5,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,No Internet Service
6,3213-VVOLG,Male,0,Yes,Yes,2,0,2,Mailed check,25.35,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,No Internet Service
7,4075-WKNIU,Female,0,Yes,Yes,2,1,2,Mailed check,73.35,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,DSL
8,4367-NUYAO,Male,0,Yes,Yes,2,0,2,Mailed check,25.75,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,Two or More Lines,No Internet Service
9,4472-LVYGI,Female,0,Yes,Yes,0,1,2,Bank transfer (automatic),52.55,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,No Phone Service,DSL
10,5709-LVOEQ,Female,0,Yes,Yes,1,1,2,Mailed check,80.85,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,DSL
11,7644-OMVMY,Male,0,Yes,Yes,1,0,2,Mailed check,19.85,...,NaN,NaN,NaN,NaN,2020-03-11 00:00:00,0,False,2 Year,One Line,No Internet Service
12,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,...,NaN,NaN,NaN,NaN,2019-06-09 21:43:43.104000,65.6,True,1 Year,One Line,DSL
13,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,...,NaN,NaN,NaN,NaN,2019-06-09 13:46:58.656000,59.9,True,Month-to-Month,Two or More Lines,DSL
14,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,...,NaN,NaN,NaN,NaN,2019-11-16 09:42:13.248000,73.9,True,Month-to-Month,One Line,Fiber Optic
15,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98,...,NaN,NaN,NaN,NaN,2019-02-20 19:16:50.304000,98,True,Month-to-Month,One Line,Fiber Optic
16,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,...,NaN,NaN,NaN,NaN,2019-12-05 01:23:48.480000,83.9,True,Month-to-Month,One Line,Fiber Optic
17,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.4,...,NaN,NaN,NaN,NaN,2019-07-04 13:04:14.304000,69.4,True,Month-to-Month,One Line,DSL
18,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.7,...,NaN,NaN,NaN,NaN,2014-03-11 09:04:15.744000,109.7,True,2 Year,One Line,Fiber Optic
19,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,...,NaN,NaN,NaN,NaN,2014-11-25 15:13:30.432000,84.65,True,2 Year,Two or More Lines,Fiber Optic
20,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.2,...,NaN,NaN,NaN,NaN,2019-08-09 05:19:17.472000,48.2,True,Month-to-Month,One Line,DSL
21,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,...,NaN,NaN,NaN,NaN,2014-09-15 11:14:05.568000,90.45,True,2 Year,Two or More Lines,DSL
22,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.2,...,NaN,NaN,NaN,NaN,2015-08-29 05:01:43.392000,45.2,True,2 Year,No Phone Service,DSL
23,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.8,...,NaN,NaN,NaN,NaN,2014-02-28 17:18:44.640000,116.8,True,2 Year,Two or More Lines,Fiber Optic
24,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,...,NaN,NaN,NaN,NaN,2019-10-07 22:32:07.008000,68.95,True,Month-to-Month,One Line,Fiber Optic
25,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.3,...,NaN,NaN,NaN,NaN,2014-03-22 17:07:28.128000,101.3,True,2 Year,Two or More Lines,Fiber Optic
26,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,...,NaN,NaN,NaN,NaN,2015-06-17 11:34:57.504000,45.05,True,2 Year,No Phone Service,DSL
27,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,...,NaN,NaN,NaN,NaN,2014-03-27 04:01:52.608000,95.75,True,2 Year,Two or More Lines,Fiber Optic
28,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,...,NaN,NaN,NaN,NaN,2017-06-25 04:18:36.576000,61.25,True,1 Year,No Phone Service,DSL
29,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.1,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,72.1,True,Month-to-Month,Two or More Lines,Fiber Optic
30,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.7,...,NaN,NaN,NaN,NaN,2016-06-25 19:16:56.352000,62.7,True,1 Year,One Line,DSL
31,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.1,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,25.1,True,Month-to-Month,No Phone Service,DSL
32,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.2,...,NaN,NaN,NaN,NaN,2015-11-16 06:46:11.712000,25.2,True,1 Year,Two or More Lines,No Internet Service
33,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.1,...,NaN,NaN,NaN,NaN,2019-02-12 01:44:03.264000,94.1,True,Month-to-Month,Two or More Lines,Fiber Optic
34,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,...,NaN,NaN,NaN,NaN,2018-05-09 03:03:45.504000,83.75,True,Month-to-Month,Two or More Lines,Fiber Optic
35,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,...,NaN,NaN,NaN,NaN,2019-12-14 08:25:23.808000,19.85,True,Month-to-Month,One Line,No Internet Service
36,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,...,NaN,NaN,NaN,NaN,2019-11-17 21:09:17.280000,20.35,True,Month-to-Month,One Line,No Internet Service
37,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.5,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,30.5,True,Month-to-Month,No Phone Service,DSL
38,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.7,...,NaN,NaN,NaN,NaN,2015-08-25 19:05:54.528000,103.7,True,1 Year,One Line,Fiber Optic
39,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.4,...,NaN,NaN,NaN,NaN,2015-09-27 21:37:38.496000,20.4,True,2 Year,One Line,No Internet Service
40,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.6,...,NaN,NaN,NaN,NaN,2018-03-09 17:59:41.856000,19.6,True,1 Year,One Line,No Internet Service
41,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.7,...,NaN,NaN,NaN,NaN,2014-04-15 04:42:01.440000,19.7,True,2 Year,One Line,No Internet Service
42,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.2,...,NaN,NaN,NaN,NaN,2017-03-23 21:21:23.040000,91.2,True,1 Year,One Line,Fiber Optic
43,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,...,NaN,NaN,NaN,NaN,2016-07-10 00:44:00.384000,20.45,True,1 Year,One Line,No Internet Service
44,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.8,...,NaN,NaN,NaN,NaN,2014-06-24 20:54:21.312000,115.8,True,1 Year,Two or More Lines,Fiber Optic
45,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,...,NaN,NaN,NaN,NaN,2014-09-30 14:14:53.088000,20.55,True,1 Year,One Line,No Internet Service
46,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.4,...,NaN,NaN,NaN,NaN,2018-06-12 19:03:20.736000,39.4,True,2 Year,No Phone Service,DSL
47,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.1,...,NaN,NaN,NaN,NaN,2016-08-22 04:06:55.872000,25.1,True,2 Year,Two or More Lines,No Internet Service
48,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.8,...,NaN,NaN,NaN,NaN,2015-08-05 02:32:20.256000,89.8,True,Month-to-Month,Two or More Lines,Fiber Optic
49,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,...,NaN,NaN,NaN,NaN,2015-04-10 00:59:12.768000,94.75,True,Month-to-Month,Two or More Lines,Fiber Optic
50,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.3,...,NaN,NaN,NaN,NaN,2019-04-09 14:50:50.496000,20.3,True,2 Year,One Line,No Internet Service
51,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,...,NaN,NaN,NaN,NaN,2018-01-26 10:17:49.056000,75.75,True,Month-to-Month,Two or More Lines,Fiber Optic
52,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,...,NaN,NaN,NaN,NaN,2020-01-14 17:41:07.296000,49.25,True,Month-to-Month,One Line,DSL
53,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.2,...,NaN,NaN,NaN,NaN,2017-12-23 08:55:19.200000,78.2,True,1 Year,One Line,DSL
54,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.5,...,NaN,NaN,NaN,NaN,2018-02-17 19:31:46.272000,25.5,True,2 Year,Two or More Lines,No Internet Service
55,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.6,...,NaN,NaN,NaN,NaN,2018-01-05 12:36:13.824000,61.6,True,1 Year,One Line,DSL
56,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45,...,NaN,NaN,NaN,NaN,2017-11-22 04:41:59.712000,45,True,Month-to-Month,No Phone Service,DSL
57,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,...,NaN,NaN,NaN,NaN,2014-01-05 18:32:45.600000,85.15,True,2 Year,Two or More Lines,DSL
58,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,...,NaN,NaN,NaN,NaN,2019-01-05 16:52:35.616000,51.45,True,1 Year,One Line,DSL
59,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,...,NaN,NaN,NaN,NaN,2017-03-24 13:33:42.048000,99.25,True,1 Year,One Line,Fiber Optic
60,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.3,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,44.3,True,Month-to-Month,One Line,DSL
61,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.2,...,NaN,NaN,NaN,NaN,2017-11-20 00:29:02.688000,94.2,True,Month-to-Month,One Line,Fiber Optic
62,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,...,NaN,NaN,NaN,NaN,2014-06-26 17:42:16.416000,81.25,True,1 Year,Two or More Lines,DSL
63,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,...,NaN,NaN,NaN,NaN,2017-01-19 12:13:19.200000,99.95,True,Month-to-Month,Two or More Lines,Fiber Optic
64,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,...,NaN,NaN,NaN,NaN,2016-11-06 11:30:14.976000,91.55,True,Month-to-Month,One Line,Fiber Optic
65,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.5,...,NaN,NaN,NaN,NaN,2016-12-21 23:59:42.720000,104.5,True,Month-to-Month,Two or More Lines,Fiber Optic
66,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95,...,NaN,NaN,NaN,NaN,2019-03-18 07:22:44.544000,95,True,Month-to-Month,One Line,Fiber Optic
67,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,...,NaN,NaN,NaN,NaN,2019-09-02 23:29:36.960000,50.35,True,Month-to-Month,Two or More Lines,DSL
68,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.5,...,NaN,NaN,NaN,NaN,2017-10-02 10:50:41.568000,64.5,True,Month-to-Month,Two or More Lines,DSL
69,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.4,...,NaN,NaN,NaN,NaN,2017-12-01 08:13:36.192000,19.4,True,Month-to-Month,One Line,No Internet Service
70,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.8,...,NaN,NaN,NaN,NaN,2014-05-20 16:25:14.880000,104.8,True,1 Year,Two or More Lines,Fiber Optic
71,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.4,...,NaN,NaN,NaN,NaN,2015-06-07 13:13:48.864000,109.4,True,1 Year,Two or More Lines,Fiber Optic
72,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.3,...,NaN,NaN,NaN,NaN,2015-06-05 07:49:37.632000,50.3,True,1 Year,One Line,DSL
73,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.4,...,NaN,NaN,NaN,NaN,2018-10-11 15:22:51.168000,71.4,True,Month-to-Month,Two or More Lines,DSL
74,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116,...,NaN,NaN,NaN,NaN,2014-04-26 08:28:42.528000,116,True,2 Year,Two or More Lines,Fiber Optic
75,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,19.85,True,Month-to-Month,One Line,No Internet Service
76,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,99.75,True,Month-to-Month,Two or More Lines,Fiber Optic
77,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,...,NaN,NaN,NaN,NaN,2017-08-27 14:16:28.992000,93.95,True,Month-to-Month,One Line,Fiber Optic
78,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.8,...,NaN,NaN,NaN,NaN,2018-11-13 21:13:13.152000,90.8,True,Month-to-Month,Two or More Lines,Fiber Optic
79,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,...,NaN,NaN,NaN,NaN,2016-03-08 04:41:45.024000,84.35,True,1 Year,Two or More Lines,DSL
80,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,...,NaN,NaN,NaN,NaN,2014-04-07 02:47:54.240000,58.25,True,2 Year,No Phone Service,DSL
81,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,...,NaN,NaN,NaN,NaN,2017-05-15 00:01:13.440000,107.55,True,Month-to-Month,Two or More Lines,Fiber Optic
82,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,...,NaN,NaN,NaN,NaN,2019-05-29 17:56:59.424000,19.95,True,Month-to-Month,One Line,No Internet Service
83,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.2,...,NaN,NaN,NaN,NaN,2018-06-16 04:49:18.624000,111.2,True,Month-to-Month,Two or More Lines,Fiber Optic
84,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.2,...,NaN,NaN,NaN,NaN,2017-03-10 18:56:43.296000,40.2,True,Month-to-Month,No Phone Service,DSL
85,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.8,...,NaN,NaN,NaN,NaN,2018-01-23 08:04:41.376000,85.8,True,Month-to-Month,One Line,Fiber Optic
86,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.4,...,NaN,NaN,NaN,NaN,2016-01-29 07:06:46.368000,35.4,True,1 Year,No Phone Service,DSL
87,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,...,NaN,NaN,NaN,NaN,2019-08-13 10:20:38.400000,73.85,True,Month-to-Month,Two or More Lines,Fiber Optic
88,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.1,...,NaN,NaN,NaN,NaN,2014-12-19 21:08:10.752000,88.1,True,2 Year,Two or More Lines,DSL
89,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,...,NaN,NaN,NaN,NaN,2018-11-30 15:16:00.768000,101.35,True,Month-to-Month,One Line,Fiber Optic
90,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.8,...,NaN,NaN,NaN,NaN,2018-02-08 06:07:19.776000,45.8,True,Month-to-Month,No Phone Service,DSL
91,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,...,NaN,NaN,NaN,NaN,2014-04-03 16:12:59.616000,94.65,True,Month-to-Month,One Line,Fiber Optic
92,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.5,...,NaN,NaN,NaN,NaN,2016-09-04 11:46:49.440000,20.5,True,1 Year,One Line,No Internet Service
93,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.4,...,NaN,NaN,NaN,NaN,2014-08-16 11:20:08.448000,89.4,True,Month-to-Month,Two or More Lines,Fiber Optic
94,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,...,NaN,NaN,NaN,NaN,2020-01-06 22:33:23.904000,86.25,True,Month-to-Month,One Line,Fiber Optic
95,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,...,NaN,NaN,NaN,NaN,2016-07-21 23:14:03.840000,74.85,True,1 Year,One Line,DSL
96,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,...,NaN,NaN,NaN,NaN,2019-03-20 08:05:21.120000,89.75,True,Month-to-Month,Two or More Lines,Fiber Optic
97,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,...,NaN,NaN,NaN,NaN,2014-05-30 01:18:05.472000,109.95,True,2 Year,Two or More Lines,Fiber Optic
98,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.2,...,NaN,NaN,NaN,NaN,2020-02-09 13:59:59.712000,80.2,True,Month-to-Month,Two or More Lines,Fiber Optic
99,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,...,NaN,NaN,NaN,NaN,2019-12-04 07:32:29.472000,19.85,True,Month-to-Month,One Line,No Internet Service
100,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,...,NaN,NaN,NaN,NaN,2020-01-06 20:49:08.544000,90.35,True,Month-to-Month,One Line,Fiber Optic

In [61]:
# check

df_excel_sample.shape

(101, 30)

In [62]:
# it works!!!

In [63]:
# print the number of rows in original dataframe

df_excel.shape

(7044, 30)

In [64]:
# print the first five columns of the original dataframe

list(df_excel.columns[:6])

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5']

In [65]:
# print the column names that have a data type of object

# first, just get the types:

df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 30 columns):
Unnamed: 0                        7044 non-null object
Unnamed: 1                        7044 non-null object
Unnamed: 2                        7044 non-null object
Unnamed: 3                        7044 non-null object
Unnamed: 4                        7044 non-null object
Unnamed: 5                        7044 non-null object
Unnamed: 6                        7044 non-null object
Unnamed: 7                        7044 non-null object
Unnamed: 8                        7044 non-null object
Unnamed: 9                        7044 non-null object
Unnamed: 10                       7033 non-null object
Unnamed: 11                       7044 non-null object
Excel overview-> Exercise2        7044 non-null object
Excel functions -> Exercise1      7044 non-null object
Excel functions -> Exercise1.1    7044 non-null object
Excel functions -> Exercise1.2    7044 non-null object
Excel functions -> Exercise1.3    7044 non-null object
Excel functions -> Exercise1.4    7044 non-null object
Excel functions -> Exercise2      7044 non-null object
Unnamed: 19                       2 non-null object
Unnamed: 20                       2 non-null object
Unnamed: 21                       2 non-null object
Unnamed: 22                       2 non-null object
Unnamed: 23                       1 non-null float64
Excel functions -> Exercise3      7044 non-null object
Excel functions -> Exercise4      7044 non-null object
Excel functions -> Exercise4.1    7044 non-null object
Excel functions -> Exercise5      7044 non-null object
Excel functions -> Exercise5.1    7044 non-null object
Excel functions -> Exercise5.2    7044 non-null object
dtypes: float64(1), object(29)
memory usage: 1.6+ MB

In [67]:
# Actually, looks like there's only one, so:

print(df_excel.columns[23])

Unnamed: 23

In [98]:
# compute the range for each of the numeric variables

numeric_df = df_excel.select_dtypes(["int64", "float64"])

numeric_df

      Unnamed: 23
0             NaN
1             3.0
2             NaN
3             NaN
4             NaN
...           ...
7039          NaN
7040          NaN
7041          NaN
7042          NaN
7043          NaN

[7044 rows x 1 columns]

### Q3:

Read the data from this google sheet into a dataframe, df_google

- print the first 3 rows

- print the number of rows and columns

- print the column names

- print the data type of each column

- print the summary statistics for each of the numeric variables

- print the unique values for each of your categorical variables

In [75]:
# Get the Google Sheet: 

# sheet_url = "https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357"
    
# csv_export_url = sheet_url.replace("/edit#gid=", "export?format=csv&gid=")   

# df_google = pd.read_csv(csv_export_url)

# df_google.head()

# This gave me an "HTTP Error 404: Not found" error

In [78]:
# try it STRAIGHT FROM THE MODULE:

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)

# Now print the first 3 rows:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [79]:
# print the number of rows and columns

df_google.shape

(891, 12)

In [80]:
# print the column names

list(df_google.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [82]:
# print the datatype of each column

df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [95]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [99]:
df_google.Name.value_counts(dropna=False)

Collander, Mr. Erik Gustaf                    1
Stoytcheff, Mr. Ilia                          1
Strom, Mrs. Wilhelm (Elna Matilda Persson)    1
Dodge, Master. Washington                     1
Olsvigen, Mr. Thor Anderson                   1
                                             ..
Glynn, Miss. Mary Agatha                      1
Wilhelms, Mr. Charles                         1
Meyer, Mr. Edgar Joseph                       1
Harper, Miss. Annie Jessie "Nina"             1
Leyson, Mr. Robert William Norman             1
Name: Name, Length: 891, dtype: int64

In [100]:
df_google.Sex.unique()

array(['male', 'female'], dtype=object)

In [101]:
df_google.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [103]:
df_google.Ticket.unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [105]:
df_google.Ticket.value_counts()

CA. 2343         7
1601             7
347082           7
3101295          6
CA 2144          6
                ..
234818           1
226875           1
SC/PARIS 2167    1
371362           1
368323           1
Name: Ticket, Length: 681, dtype: int64

In [108]:
df_google.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [109]:
df_google.Cabin.value_counts()

C23 C25 C27        4
B96 B98            4
G6                 4
D                  3
F33                3
F2                 3
C22 C26            3
E101               3
D36                2
C124               2
B77                2
B22                2
E67                2
C123               2
B57 B59 B63 B66    2
B20                2
F4                 2
C78                2
D20                2
C2                 2
C83                2
E33                2
B49                2
B5                 2
B58 B60            2
E121               2
B18                2
C93                2
D35                2
D33                2
B35                2
E25                2
D17                2
E44                2
C125               2
C52                2
C126               2
C92                2
E24                2
C68                2
B28                2
F G73              2
B51 B53 B55        2
D26                2
C65                2
E8                 2
E31                1
F E69              1
D49                1
D47                1
C110               1
C46                1
E17                1
C101               1
B19                1
C148               1
T                  1
E34                1
E10                1
A5                 1
C91                1
E63                1
C82                1
C118               1
A23                1
C87                1
A20                1
E68                1
A26                1
C30                1
A36                1
D56                1
E38                1
D50                1
D21                1
B82 B84            1
D28                1
A14                1
C111               1
A16                1
D11                1
C7                 1
D19                1
A31                1
B3                 1
A32                1
B71                1
C70                1
D45                1
C95                1
E36                1
A6                 1
C106               1
D10 D12            1
C99                1
A7                 1
C47                1
E46                1
C45                1
B41                1
C90                1
D6                 1
E58                1
B79                1
C104               1
B50                1
D46                1
D15                1
C32                1
D9                 1
B69                1
B102               1
D48                1
D7                 1
B73                1
A24                1
F38                1
A19                1
E12                1
B78                1
C54                1
E49                1
B86                1
A10                1
E50                1
C86                1
B37                1
D30                1
A34                1
B80                1
C62 C64            1
E77                1
F G63              1
B4                 1
B42                1
B94                1
C128               1
C49                1
B39                1
D37                1
B101               1
C50                1
B38                1
E40                1
B30                1
C85                1
C103               1
Name: Cabin, dtype: int64

In [110]:
df_google.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [111]:
df_google.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

### Q4: 

**In a new python module, acquire.py:**

- get_titanic_data: returns the titanic data from the codeup data science database as a pandas data frame.

- get_iris_data: returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids.

In [113]:
# get connection to the database

from env import host, user, password

def get_connection(db, user=user, host=host, password=password):
    return f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [116]:
# now get into the database to use the titanic dataset

def get_titanic_data():
    sql_query = "SELECT * FROM passengers"
    return pd.read_sql(sql_query, get_connection("titanic_db"))

In [118]:
# Check

titanic_df = get_titanic_data()
titanic_df.head(3)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1

In [122]:
# grab the iris data

def get_iris_data():
    sql_query = """
    SELECT species_id,
    species_name,
    sepal_length, 
    sepal_width, 
    petal_length,
    petal_width
    FROM measurements
    JOIN species
    USING (species_id)
    """
    return pd.read_sql(sql_query, get_connection("iris_db"))

In [123]:
# Check

iris_df = get_iris_data()
iris_df.head(3)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2

In [ ]:
def drop_columns(df):
    return df.drop(columns=[
        "deck", # too many missing values
        "class", # it's the same as pclass
        "embarked" # same as embarked_town
        ])









def prep_titanic _data(df):
    """
    drops columns, does train-test split, imputes age and embark_town columns, and
    encodes the embark_town column
    """
    # drop columns
    df = drop_columns(df)
    # train-test split
    train, test = sklearn.model_selection.train_test_split(df, train_size=.8, random_state=123)
    # imput age
    train, test = impute_age(train, test)
    # impute embarktown
    train, test = impute_embark_town(train, test)
    # encode embarktown
    train, test = encode_embark_town(train, test)

    return train, test